.description {
  margin-top: 0;
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.article-title {
  font-weight: bold;
  font-size: 1.5em;
}

.article-body {
  border-top: 1px solid #eaeaea;
  padding: 15px 0;
}

.article-meta-details {
  border-top: 1px solid #eaeaea;
  margin-top: 15px;
}
