<h1 align="center">Listing all categories</h1>

<div align="center">
  <%= will_paginate %>
</div>

<div class="listing">
  <% @categories.each do |category| %>
    <div class="row">
      <div class="well col-md-4 col-md-offset-4">
        <div class="article-title" align="center">
          <%= link_to "#{category.name}", category_path(category) %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div align="center">
  <%= will_paginate %>
</div>
